public/n8n-workflow.json
{
  "name": "Celeris Code - Leads Netlify a Notion",
  "nodes": [
    {
      "parameters": {
        "path": "netlify-leads",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Netlify Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "netlify-celeriscode-leads"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "2b50a0f23ebc8086a56eeffdd41313ce"
        },
        "titleKey": "Nombre",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Nombre",
              "value": "={{ $json.body.name }}"
            },
            {
              "key": "Email",
              "value": "={{ $json.body.email }}"
            },
            {
              "key": "Empresa",
              "value": "={{ $json.body.company || 'Sin empresa' }}"
            },
            {
              "key": "Servicio",
              "value": "={{ $json.body.service }}"
            },
            {
              "key": "Presupuesto",
              "value": "={{ $json.body.budget }}"
            },
            {
              "key": "Mensaje",
              "value": "={{ $json.body.message }}"
            },
            {
              "key": "Fuente",
              "value": "={{ $json.body.source || 'Formulario Web' }}"
            },
            {
              "key": "Estado",
              "value": "Nuevo"
            },
            {
              "key": "Prioridad",
              "value": "={{ $json.body.budget === '5000+' || $json.body.budget === '3000-5000' ? 'Alta ($$$)' : $json.body.budget === '1500-3000' ? 'Media ($$)' : 'Baja ($)' }}"
            },
            {
              "key": "Telefono",
              "value": "={{ $json.body.phone || '' }}"
            },
            {
              "key": "Próxima Acción",
              "value": "Contactar en menos de 24 horas"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-create",
      "name": "Crear Lead en Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [750, 300],
      "credentials": {
        "notionApi": {
          "id": "notion-credential-id",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body.return_url || 'https://api.netlify.com/api/v1/submissions' }}",
        "sendBody": true,
        "specifyBodyType": "json",
        "jsonBody": "={\n  \"success\": true,\n  \"lead_id\": {{ $json.id }},\n  \"nombre\": {{ JSON.stringify($json.properties.Nombre.title[0].text.content) }}\n}",
        "options": {}
      },
      "id": "http-response",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "2b50a0f23ebc8086a56eeffdd41313ce"
        },
        "returnAll": true,
        "options": {
          "filterType": "manual",
          "filters": {
            "conditions": [
              {
                "key": "Email",
                "value": "={{ $json.body.email }}"
              }
            ]
          }
        }
      },
      "id": "notion-check-duplicate",
      "name": "Verificar Email Duplicado",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [500, 300],
      "credentials": {
        "notionApi": {
          "id": "notion-credential-id",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Netlify Form": {
      "main": [
        [
          {
            "node": "Verificar Email Duplicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Email Duplicado": {
      "main": [
        [
          {
            "node": "Crear Lead en Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Lead en Notion": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook - Netlify Form": [
      {
        "body": {
          "name": "María López",
          "email": "maria@startup.com",
          "company": "TechStartup",
          "service": "landing-page",
          "budget": "1500-3000",
          "message": "Quiero una landing page para vender mi curso online",
          "source": "Google",
          "form-name": "contacto"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-04-16T00:00:00.000Z",
      "updatedAt": "2026-04-16T00:00:00.000Z",
      "id": "1",
      "name": "Celeris Code"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-16T00:00:00.000Z",
  "versionId": "1"
}
